http:
  # Add the router
  routers:
    # Define a connection between requests and services
    traefik-rtr:
      middlewares:
        - file-basic-auth
      rule: "Host(`traefik.alexpedersen.dev`)"
      entryPoints:
        - web-secure
      service: api@internal
      tls:
        certResolver: le

    discord-bot:
      rule: "Host(`discord.alexpedersen.dev`)"
      entryPoints:
        - web-secure
      service: discord-bot
      tls:
        certResolver: le

  # Add the middleware
  middlewares:
    my-basic-auth:
      basicAuth:
        users:
        - test:$apr1$H6uskkkW$IgXLP6ewTrSuBkTrqE8wj/
        - test2:$apr1$d9hr9HBB$4HxwgUir3HP4EsggP/QNo0

  # Add the service
  services:
    # Define how to reach an existing service on our infrastructure
    discord-bot:
      loadBalancer:
        servers:
        - url: http://host.docker.internal:3000
